.searchBarContainer {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.searchContainer {
    display: flex;
}

.loupe {
    margin-right: .5rem;
}

.filterContainer {
    display: flex;
}

.onlyFilters {
    display: flex;
}

.onlyOrder {
    display: flex;
}

.filter {
    margin-right: .5rem;
}

.selectFilters {
    margin-right: 2rem;
}

.order {
    margin-right: .5rem;
}

.icon {
    position: relative;
    top: .2rem;
}

.btn {
    padding: .6rem;
    background-color: #90400C;
    color: #F6DDCC;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-color: #F6DDCC;
    color: #90400C;
}

.or {
    margin: .8rem 1.9rem 0 0;
}

@media (max-width: 468px) {
    .searchBarContainer {
        flex-direction: column;
        padding: 1rem;
    }

    .searchContainer {
        margin-bottom: 1rem;
    }

    .filterContainer {
        flex-direction: column;
    }
    .onlyFilters {
        padding-left: 1.5rem;

    }

    .selectFilters {
        margin: 0;
    }

    .or {
        margin: 1rem;
    }

    .onlyOrder {
        display: flex;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .btnContainer {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .searchBarContainer {
        flex-direction: column;
        padding: 1rem;
    }

    .searchContainer {
        margin-bottom: 1rem;
    }

    .filterContainer {
        flex-direction: column;
    }
    .onlyFilters {
        display: flex;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .onlyOrder {
        display: flex;
        margin-bottom: 1rem;
        justify-content: center;
    }

    .btnContainer {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}