.navContainer {
    background-color: #90400C;
    padding: 1rem;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    color: #F6DDCC;
    text-decoration: none;
    color: black;
}

.addAct {
    display: flex;
    align-items: center;
}

.add {
    margin-right: .4rem;
}

.noScroll {
    overflow: hidden;
}